.phoneCode {
  position: absolute;
  left: 20px;
  top: calc(50% + 11px);
  transform: translateY(-50%);
  z-index: 3;

  &__code {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    color: $colorBlack;
    padding-right: 36px;
    border-right: solid 1px rgba(0, 0, 0, 0.5);
    min-width: 105px;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.790039 1L4.58004 5L8.37004 1' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      right: 10px;
      top: 4px;
      background-size: 12px;
    }

    &.opened {
      &::before {
        transform: rotate(-180deg);
      }
    }

    @include responsive1199 {
      font-size: 14px;
      line-height: 20px;
      min-width: 101px;

      &::before {
        top: 2px;
        background-size: 10px;
      }
    }

    @include responsive1023 {
      font-size: 12px;
      line-height: 16px;
      min-width: 96px;

      &::before {
        top: 0;
      }
    }

    @include responsive767 {
      gap: 5px;
      padding-right: 25px;
      min-width: 80px;

      &::before {
        right: 4px;
      }
    }
  }

  &__list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100px;
    background-color: $colorWhite;
    color: $colorBlack;
    border-radius: 20px;
    padding: 10px;

    ul {
    }

    a {
      display: block;
    }
  }

  @include responsive1023 {
    top: calc(50% + 10px);
  }
}

.coutryFlag {
  width: 24px;
  height: 16px;
}

.input {
  padding-left: 135px !important;

  @include responsive1023 {
    padding-left: 125px !important;
  }

  @include responsive767 {
    padding-left: 110px !important;
  }
}
