.lang {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.langCurrent {
  position: relative;
  padding-right: 26px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;

    @include responsive1199 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-8.58307e-06 1.24999L0.716659 0.533325L4.01666 3.83333L7.31666 0.533325L8.03333 1.24999L4.01666 5.26666L-8.58307e-06 1.24999Z' fill='%23002941'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
    transition: all 0.3s;
  }

  &_white {
    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-8.58307e-06 1.24999L0.716659 0.533325L4.01666 3.83333L7.31666 0.533325L8.03333 1.24999L4.01666 5.26666L-8.58307e-06 1.24999Z' fill='%23EDEDED'/%3e%3c/svg%3e ");
    }
  }

  &_active {
    &::before {
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.langList {
  position: relative;
  border-radius: 10px;
  border: solid 1px $colorGreen;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: calc(100% + 8px);

  li {
  }

  a {
    cursor: pointer;
    font-weight: 500;
    padding: 10px 16px;
    color: $colorBlue;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $colorWhite;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

    @include after {
      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.3333 1L4.99996 8.33333L1.66663 5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      opacity: 0;
    }

    &:hover {
      background-color: $colorGreen;
      color: $colorWhite;
    }

    &.active {
      background-color: $colorGreen;
      color: $colorWhite;

      &::after {
        opacity: 1;
      }
    }
  }
}
