.postNewJob {
  &__caption {
    text-align: center;
    display: block;
    width: 100%;
  }

  &__content {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive1023 {
      padding-top: 16px;
      margin-top: 16px;
      gap: 16px;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__btn {
    width: 100%;
    max-width: 400px;
  }

  &__desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    display: block;
    text-align: center;

    @include responsive1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__file {
    margin-top: 0;
  }

  &__date {
    top: 0 !important;
  }

  &__warning {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $colorYellow;
    text-align: center;
    display: table;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0.5C4.81331 0.5 3.65328 0.851894 2.66658 1.51118C1.67989 2.17047 0.910851 3.10754 0.456726 4.2039C0.00259972 5.30026 -0.11622 6.50666 0.115291 7.67054C0.346802 8.83443 0.918247 9.90353 1.75736 10.7426C2.59648 11.5818 3.66558 12.1532 4.82946 12.3847C5.99335 12.6162 7.19975 12.4974 8.2961 12.0433C9.39246 11.5892 10.3295 10.8201 10.9888 9.83342C11.6481 8.84673 12 7.68669 12 6.5C12 4.9087 11.3679 3.38258 10.2426 2.25736C9.11742 1.13214 7.5913 0.5 6 0.5ZM6 11.5C5.0111 11.5 4.0444 11.2068 3.22215 10.6573C2.39991 10.1079 1.75904 9.32705 1.38061 8.41342C1.00217 7.49979 0.90315 6.49445 1.09608 5.52455C1.289 4.55464 1.76521 3.66373 2.46447 2.96447C3.16373 2.2652 4.05465 1.789 5.02455 1.59607C5.99446 1.40315 6.99979 1.50216 7.91342 1.8806C8.82705 2.25904 9.60794 2.8999 10.1574 3.72215C10.7068 4.54439 11 5.51109 11 6.5C11 7.82608 10.4732 9.09785 9.53554 10.0355C8.59785 10.9732 7.32609 11.5 6 11.5Z' fill='%23FFA800'/%3e%3cpath d='M5.99999 5.34966C5.86739 5.34966 5.74021 5.40234 5.64644 5.49611C5.55267 5.58988 5.49999 5.71705 5.49999 5.84966V9.24966C5.49999 9.38227 5.55267 9.50945 5.64644 9.60322C5.74021 9.69698 5.86739 9.74966 5.99999 9.74966C6.1326 9.74966 6.25978 9.69698 6.35355 9.60322C6.44732 9.50945 6.49999 9.38227 6.49999 9.24966V5.84966C6.49999 5.71705 6.44732 5.58988 6.35355 5.49611C6.25978 5.40234 6.1326 5.34966 5.99999 5.34966ZM5.99999 3.29966C5.86464 3.30475 5.73636 3.36147 5.64152 3.45818C5.54667 3.55488 5.49245 3.68423 5.48999 3.81966V3.89966C5.48976 3.9649 5.5031 4.02947 5.52918 4.08927C5.55526 4.14906 5.59351 4.20278 5.64148 4.24699C5.68945 4.2912 5.7461 4.32493 5.80783 4.34605C5.86955 4.36718 5.93499 4.37521 5.99999 4.36966C6.13102 4.36471 6.25534 4.31045 6.34806 4.21773C6.44078 4.12501 6.49504 4.00069 6.49999 3.86966V3.74966C6.50039 3.68611 6.48732 3.6232 6.46164 3.56507C6.43597 3.50694 6.39827 3.4549 6.35104 3.41239C6.3038 3.36988 6.2481 3.33785 6.18759 3.31842C6.12708 3.29899 6.06315 3.2926 5.99999 3.29966Z' fill='%23FFA800'/%3e%3c/svg%3e ");
    background-position: center;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;

    @include responsive1023 {
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      margin-top: 16px;
    }
  }

  .inputList {
    gap: 16px 0;
  }

  .inputItem {
    margin: 0;

    &__text {
      textarea {
        height: 90px;

        @include responsive1023 {
          height: 72px;
        }
      }
    }

    &__desc {
      textarea {
        height: 222px;

        @include responsive1023 {
          height: 88px;
        }
      }
    }
  }

  input {
    @include boxShadowDefault;
  }

  textarea {
    @include boxShadowDefault;
  }

  .iconInvis {
    width: 14px;
    height: 14px;
  }
}
